relay.sankuai.com
/***************************************gct-information***************/
dx-gct-information-platform-staging01
dx-gct-information-platform01
dx-gct-information-platform02
dx-gct-information-platform03
/***************************************gct-groupbd*******************/
dx-gct-scp-groupbd-staging01
/***************************************mtproduct*********************/
dx-cos-product05
/***************************************mtcontent*i********************/
dx-cos-content-st01
/***************************************mtgroupbd*********************/
dx-cos-groupbd-st01
 
